<div>
    <h1><img width=50 [src]="contenido.post.avatar"> {{contenido.post.title}}</h1>
    {{contenido.post.usuario}}<br><br>
    
    {{contenido.post.review}} <br> <br>

</div>
<h4>
  Comentarios: <br>
</h4>
<div>
  <div class="container mb-2" *ngFor="let comentario of contenido.results">
    <img [src]="comentario.usuarioavatar" width=30>
    {{comentario.usuariocomment}} comentó: "{{comentario.comment}}" <br> <br>
  </div>

  <h4>Comentar: </h4>
  <form (ngSubmit)="agregar(forma)" #forma="ngForm">
    <input name="comment" [(ngModel)]="creoComment.comment">
    <button type="submit" class="ml-2 btn btn-primary">Enviar</button>

  </form>

</div>
