<h1>Listas de usuarios</h1>
<div class="row">
<div class="container col-2" *ngFor="let user of users">
      <div class="card mt-4">
          <img [src]="user.avatar" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="text-center card-title">{{user.name}}</h5>
          </div>
          <ul class="list-group list-group-flush">
           <button type="button" (click)="logear(user.id)" class="btn btn-primary">Iniciar sesion</button>
          </ul>
        </div>
  </div>
</div>

