<h1>Lista de Posts</h1>
  <div *ngFor="let postAct of posts">
    <div class="card mt-3" style="width: 18rem;">
        <img [src]="postAct.avatar" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{postAct.title}}</h5>
          <button type="button" (click)="entrarAlPost(postAct.id)" class="btn btn-warning">Ver Post</button>
        </div>
      </div>
  </div>

